/* main */
#piece_div_show {
    display: none;
    position: fixed;
    right: 13px;
    top: 15px;
    width: 330px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 999999;
    color: initial;
    font-family: initial;
    font-size: initial;
    word-break: initial;
    word-spacing: initial;
    word-wrap: initial;
}

#piece_div_show p {
    margin: 0;
    padding: 0;
}

.piece_header_show {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #EEEEEE;
}

.piece_title_img {
    width: 50px;
    height: 50px;
    margin: 8px 0;
    user-select: none;
}

.piece_close_show {
    position: absolute;
    right: 13px;
    top: 26px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABiklEQVRYR+2WvUoDQRSFz0mEvILFiilEsBItI/481QTyAmH2pRQUtBNERVHQUrCwsN1wZWQWlrCzs/c2aXbL7M6cL/eee2aIDT/csD4GgKECyQqUZfkkIlskz51zXxazeu8LklcAfp1zR217JAG8968k90XkneSpFiKK3wDYFZH7+Xx+rAIoy3JbRK5J7mkhmuIAXqqqOlssFt8qgPCxBUIjHjSyUxAgANzFUna2QyveCyB8tNbPVgiLeG+AHIRVXAWQgoij+u/2nOHUJmxbsNaOTwAhKwqLuLoCNVCAAHAbhcPPb1VVnaRGrSvEslPQtjiOZwCYhvci8kFypg0rUwVasmECYEcbVvUfU1WgKV73fDweT0jWkauO7d4AbeJ1z/vkRMoHvQC6xJvGtFQiC7De89VqNUu53VKJTgDrYVSPaB9jdl1IzMfxcrmcjkajcJQXOYiuC8kzyYPcBilzNSEAPDjnDlVR7L1/jDF7YQmYIBYhLgH8qG9EljugZU12CiybatYMAEMF/gAXXlYwLARbpAAAAABJRU5ErkJggg==") center center no-repeat;
    background-size: cover;
}

.piece_close_show:hover {
    opacity: 0.5;
}

.piece_content_show {
    max-height: 470px;
    overflow-y: scroll;
}

.piece_footer_left_show {
    display: inline-block;
    width: 49%;
    padding: 13px 0;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #EEEEEE;
}

.piece_footer_left_show:hover {
    background: #DEDEDE;
}

/* first */
.piece_page_content {
    width: 94%;
    border: 1px solid #EEEEEE;
    margin: 10px;
}

.piece_page_col {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 40%;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: #979797;
    margin: 0 5%;
}

.piece_page_col:hover {
    color: #000000;
}

.piece_page_col_active {
    color: #000000;
    border-bottom: 3px solid #FF7E27;
}
.piece_first_content{
    clear: both;
    text-align: center;
}
.piece_first_img{
    width: 200px;
    margin: 50px auto;
    user-select: none;
}

/* other */
.piece_btn_copy {
    margin-left: 10px;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    background-color: #00A99D;
    user-select: none;
}

.piece_btn_copy:hover {
    background-color: #4FCBC2;
}














